<header>
  <h1 class="storeTitle">"We're always open to new ideas and constantly keeping ahead of the trends!"</h1>
</header>

<section>
  <h3 class="storeTitle">About OCS</h3>
  <p>From Tel Aviv’s best kept fashion secret to one of the fastest growing international etailers, ocs.com has
    quickly evolved into a global fashion leader of its generation.</p>
  <p>Combining cutting-edge design with an affordable price tag, we’ve been pushing boundaries for the past eight
    years to bring you all the latest looks for less.</p>

  <aside>
    <p>Our philosophy is pretty simple: we don’t take fashion or life too seriously. Whether you like to keep one
      step ahead of the trends, or if subtle style is more your thing, we’re sure we’ve got something you’ll love.
      And with up to 100 pieces hitting site every day and a new collection each week, we never stop - it’s 24/7
      fashion at its best.</p>
  </aside>
</section>

<hr/>

<section class="centralSection">
  <h3 class="storeTitle">100 Years of Fashion</h3>
  <video controls="controls" autoplay>
    <source src="../../assets/100YearsOfFashion.mp4" type="video/mp4"/>
    Your browser does not support the video tag.
  </video>
</section>

<hr/>

<section>
  <h3 class="storeTitle">Charity Strategy</h3>
  <p>We all know that it’s better to give than to receive, that’s why we’ve set up OSC’s charity programme to raise
    money and awareness for causes close to our hearts. In 2016, we want charity to be a bigger part of OCS. Last
    year, we raised over £22,000 through sample sales, coffee mornings and our Style for Stroke collaboration; but
    you know us, we always want to do that bit (or a lot) more.</p>
</section>

<hr/>

<section class="centralSection">
  <h3 class="storeTitle">Branches</h3>
  <div class="map" #gMap style="width:50%; height:300px;"></div>
</section>
