<app-header></app-header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="container-fluid">
  <div id="quotes">
    <h4 style="font-weight: bold">Best Fashion Quotes of All Time</h4>
    <p>“Fashion is what you’re offered four times a year by designers. And style is what you choose.” — Lauren
      Hutton</p>
    <p>“You either know fashion or you don’t.” — Anna Wintour</p>
    <p> “What I’ve done, Coco Chanel would never have done. She would have hated it.” — Karl Lagerfeld</p>
    <p>“I think there is beauty in everything. What ‘normal’ people would perceive as ugly, I can usually see
      something
      of beauty in it.” — Alexander McQueen</p>
  </div>

  <div>
    <h4 style="font-weight: bold">Like our OCS store ?</h4><br/>
    <p>Share and Like us on Facebook!</p><br/>
    <iframe class="facebook"
            src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.colman.ac.il%2F&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId=1977236002516063"
            scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  </div>
</footer>
