input[type=file] {
    color: transparent;
}

.imageContainer {
    margin-top: 3%;
    max-height: 30%;
    max-width: 50%;
}

.imageContainer img {
    width: 100%;
    height: 100%;
}

.close:focus {
    outline: transparent;
}